# Using the PyFaaS's ForecastPack module

In [1]:
from pyfaas4i.forecastpack import forecast
from pyfaas4i.forecastpack import install_R_packages

## Reading from a RDS file

To get a forecastpack, send a job using the **faas.run_models()** from the faas submodule and it will appear in your account at 4intelligence's [platform](https://app.4intelligence.ai/).

In [2]:
# installing necessary R packages
install_R_packages()

Starting installation

Carregando pacotes exigidos: dplyr

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Carregando pacotes exigidos: jsonlite
Carregando pacotes exigidos: lmtest
Carregando pacotes exigidos: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Carregando pacotes exigidos: randomForest
randomForest 4.7-1.1
Type rfNews() to see new features/changes/bug fixes.
Carregando pacotes exigidos: glmnet
Carregando pacotes exigidos: Matrix
Loaded glmnet 4.1-8
Carregando pacotes exigidos: caret
Carregando pacotes exigidos: ggplot2
Carregando pacotes exigidos: lattice

Packages have been installed

In [3]:
example_rds = forecast()

In [4]:
example_rds.from_rds('your_path_here/name_of_forecast_pack.rds')
## If you are using Windows, you might have to user '\\' instead of '/'

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

## Exploring the pack

In [6]:
# Listing all the models
example_rds.model_list()

    Model   Model Type    MAPE   WMAPE     MPE    RMSE    MASE   MASEs
0       0     comb_OLS  1.8609  1.8609 -0.2704  3.3187  0.2757  0.2570
1       1     comb_LAD  1.8677  1.8694 -0.2469  3.5656  0.2772  0.2572
2       2     comb_CLS  2.1682  2.1945 -0.0428  4.1028  0.3285  0.3028
3       3    comb_EIG2  2.1970  2.2051 -0.4329  3.8855  0.3292  0.3060
4       4      comb_NG  2.1971  2.2328  0.1213  4.1520  0.3321  0.3086
5       5      comb_SA  2.1991  2.2084 -0.4282  3.8926  0.3300  0.3062
6       6    comb_EIG1  2.2054  2.2115 -0.4807  3.8846  0.3304  0.3068
7       7    comb_EIG4  2.2112  2.2335 -0.1603  4.0795  0.3357  0.3079
8       8    comb_EIG3  2.2130  2.2336 -0.2034  4.0699  0.3361  0.3077
9       9    comb_InvW  2.2294  2.2467 -0.2364  4.0453  0.3371  0.3100
10     10      comb_BG  2.2373  2.2471 -0.4496  3.9703  0.3368  0.3109
11     11        ARIMA  2.4952  2.5349  0.1332  4.7978  0.3715  0.3548
12     12        ARIMA  2.4957  2.5425  0.3147  4.8240  0.3703  0.3567
13     13        ARIMA  2.4999  2.5449  0.3032  4.8521  0.3697  0.3577
14     14        ARIMA  2.5018  2.5415  0.1072  4.7799  0.3736  0.3552
15     15        ARIMA  2.5275  2.5840  0.6662  5.0036  0.3722  0.3650
16     16        ARIMA  2.5452  2.6007  0.6572  5.0134  0.3739  0.3677
17     17  ARIMA_SEASD  2.6160  2.6270 -0.2888  5.0292  0.3795  0.3618
18     18        ARIMA  2.7041  2.7030 -0.4377  4.8110  0.4011  0.3754
19     19        ARIMA  2.7176  2.7159 -0.4398  4.8283  0.4028  0.3771

In [7]:
# Note that the default ordering is the provided in original forecaspack, 
# thus if you want to reorder the models, you can specify the metric
example_rds.model_list(metric='MAPE')

    Model   Model Type    MAPE   WMAPE     MPE    RMSE    MASE   MASEs
0       0     comb_OLS  1.8609  1.8609 -0.2704  3.3187  0.2757  0.2570
1       1     comb_LAD  1.8677  1.8694 -0.2469  3.5656  0.2772  0.2572
2       2     comb_CLS  2.1682  2.1945 -0.0428  4.1028  0.3285  0.3028
3       3    comb_EIG2  2.1970  2.2051 -0.4329  3.8855  0.3292  0.3060
4       4      comb_NG  2.1971  2.2328  0.1213  4.1520  0.3321  0.3086
5       5      comb_SA  2.1991  2.2084 -0.4282  3.8926  0.3300  0.3062
6       6    comb_EIG1  2.2054  2.2115 -0.4807  3.8846  0.3304  0.3068
7       7    comb_EIG4  2.2112  2.2335 -0.1603  4.0795  0.3357  0.3079
8       8    comb_EIG3  2.2130  2.2336 -0.2034  4.0699  0.3361  0.3077
9       9    comb_InvW  2.2294  2.2467 -0.2364  4.0453  0.3371  0.3100
10     10      comb_BG  2.2373  2.2471 -0.4496  3.9703  0.3368  0.3109
11     11        ARIMA  2.4952  2.5349  0.1332  4.7978  0.3715  0.3548
12     12        ARIMA  2.4957  2.5425  0.3147  4.8240  0.3703  0.3567
13     13        ARIMA  2.4999  2.5449  0.3032  4.8521  0.3697  0.3577
14     14        ARIMA  2.5018  2.5415  0.1072  4.7799  0.3736  0.3552
15     15        ARIMA  2.5275  2.5840  0.6662  5.0036  0.3722  0.3650
16     16        ARIMA  2.5452  2.6007  0.6572  5.0134  0.3739  0.3677
17     17  ARIMA_SEASD  2.6160  2.6270 -0.2888  5.0292  0.3795  0.3618
18     18        ARIMA  2.7041  2.7030 -0.4377  4.8110  0.4011  0.3754
19     19        ARIMA  2.7176  2.7159 -0.4398  4.8283  0.4028  0.3771

In [8]:
# To get a summary of all the models by model type
example_rds.describe()

Metric            ARIMA  ARIMA_SEASD  ARIMA_SEASM  ARIMA_UNIV  ElasticNet  \
MAPE  count  121.000000       1.0000       1.0000      1.0000      1.0000
      mean     3.343654       2.6160      10.3401      9.0440      5.1055
      min      2.495200       2.6160      10.3401      9.0440      5.1055
      max      5.775600       2.6160      10.3401      9.0440      5.1055
WMAPE count  121.000000       1.0000       1.0000      1.0000      1.0000
      mean     3.327679       2.6270      10.2979      9.3188      4.9938
      min      2.534900       2.6270      10.2979      9.3188      4.9938
      max      5.684300       2.6270      10.2979      9.3188      4.9938
MPE   count  121.000000       1.0000       1.0000      1.0000      1.0000
      mean    -0.781331      -0.2888       7.8658      7.0822     -4.4333
      min     -4.279500      -0.2888       7.8658      7.0822     -4.4333
      max      3.714500      -0.2888       7.8658      7.0822     -4.4333
RMSE  count  121.000000       1.0000       1.0000      1.0000      1.0000
      mean     6.052773       5.0292      19.1262     17.1965      8.8725
      min      4.775600       5.0292      19.1262     17.1965      8.8725
      max      9.898900       5.0292      19.1262     17.1965      8.8725
MASE  count  121.000000       1.0000       1.0000      1.0000      1.0000
      mean     0.489846       0.3795       1.5353      1.4762      0.7831
      min      0.369700       0.3795       1.5353      1.4762      0.7831
      max      0.841800       0.3795       1.5353      1.4762      0.7831
MASEs count  121.000000       1.0000       1.0000      1.0000      1.0000
      mean     0.463216       0.3618       1.3777      1.2652      0.6724
      min      0.354800       0.3618       1.3777      1.2652      0.6724
      max      0.771000       0.3618       1.3777      1.2652      0.6724

Metric       Forecast Combination      LM   Lasso  RandomForest    Ridge  \
MAPE  count             11.000000  1.0000  1.0000        1.0000   1.0000
      mean               2.144209  3.5000  4.7179        6.4903   7.0689
      min                1.860900  3.5000  4.7179        6.4903   7.0689
      max                2.237300  3.5000  4.7179        6.4903   7.0689
WMAPE count             11.000000  1.0000  1.0000        1.0000   1.0000
      mean               2.158500  3.4211  4.6123        6.7268   6.9527
      min                1.860900  3.4211  4.6123        6.7268   6.9527
      max                2.247100  3.4211  4.6123        6.7268   6.9527
MPE   count             11.000000  1.0000  1.0000        1.0000   1.0000
      mean              -0.257300 -2.1418 -3.9345        6.0935  -6.6763
      min               -0.480700 -2.1418 -3.9345        6.0935  -6.6763
      max                0.121300 -2.1418 -3.9345        6.0935  -6.6763
RMSE  count             11.000000  1.0000  1.0000        1.0000   1.0000
      mean               3.906073  6.3713  8.2108       12.4747  12.3806
      min                3.318700  6.3713  8.2108       12.4747  12.3806
      max                4.152000  6.3713  8.2108       12.4747  12.3806
MASE  count             11.000000  1.0000  1.0000        1.0000   1.0000
      mean               0.322618  0.5078  0.7346        0.9757   1.0510
      min                0.275700  0.5078  0.7346        0.9757   1.0510
      max                0.337100  0.5078  0.7346        0.9757   1.0510
MASEs count             11.000000  1.0000  1.0000        1.0000   1.0000
      mean               0.298282  0.4735  0.6213        0.9404   0.9441
      min                0.257000  0.4735  0.6213        0.9404   0.9441
      max                0.310900  0.4735  0.6213        0.9404   0.9441

Metric          STL
MAPE  count  1.0000
      mean   5.0755
      min    5.0755
      max    5.0755
WMAPE count  1.0000
      mean   5.0882
      min    5.0882
      max    5.0882
MPE   count  1.0000
      mean   2.9144
      min    2.9144
      max    2.9144
RMSE  count  1.0000
      mean   9.1176
      min    9.1176
      max    9.1176
MASE  count  1.0000
      mean   0.7373
      min    0.7373
      max    0.7373
MASEs count  1.0000
      mean   0.6920
      min    0.6920
      max    0.6920

In [9]:
# Looking into the details of a model which is defined using set_models
# Here I am choosing the first ARIMA considering MAPE, that is index 11
example_rds.set_model(11)

Selected model changed from 0 to 11.

In [10]:
## Getting the variable names of explanatory variables and its coefficients
example_rds.models

{'coef':                                              term  estimate  std.error  \
 0                                       intercept   -1.0468     0.2896
 1                                   ethanol_price   -0.0768     0.0248
 2             industrial_production_capital_goods   -0.1548     0.0155
 3                          international_reserves    0.1399     0.0277
 4   monthly_survey_of_trade_food_beverage_tobacco   -0.2415     0.0621
 5      monthly_survey_of_trade_fuel_lubrificantes    0.2457     0.0298
 6       monthly_survey_of_trade_textiles_footwear    0.3871     0.0158
 7                                    tax_revenues    0.2561     0.0130
 8                                         d4i_Jan    0.2363     0.0240
 9                                         d4i_Feb    0.2220     0.0254
 10                                        d4i_Mar    0.2154     0.0226
 11                                        d4i_Apr    0.1316     0.0235
 12                                        d4i_May    0.0695     0.0213
 13                                        d4i_Jun    0.0284     0.0223
 14                                        d4i_Jul    0.1203     0.0224
 15                                        d4i_Aug    0.1326     0.0221
 16                                        d4i_Sep    0.1633     0.0237
 17                                        d4i_Oct    0.1391     0.0221
 18                                        d4i_Nov    0.1148     0.0200
 19                                      do_201304   -0.0877     0.0258
 20                                      do_201805   -0.0843     0.0250
 21                                      do_202008   -0.1208     0.0260
 22                                      do_202104   -0.1193     0.0252

     statistic        p.value
 0     -3.6142   3.000000e-04
 1     -3.0944   2.000000e-03
 2     -9.9604   2.271300e-23
 3      5.0416   4.616300e-07
 4     -3.8901   1.000000e-04
 5      8.2522   1.554400e-16
 6     24.5385  5.742300e-133
 7     19.6792   3.250500e-86
 8      9.8504   6.828800e-23
 9      8.7537   2.064900e-18
 10     9.5312   1.554200e-21
 11     5.5901   2.269800e-08
 12     3.2651   1.100000e-03
 13     1.2712   2.037000e-01
 14     5.3780   7.530300e-08
 15     5.9878   2.127200e-09
 16     6.8910   5.538600e-12
 17     6.2994   2.987500e-10
 18     5.7370   9.635600e-09
 19    -3.4030   7.000000e-04
 20    -3.3755   7.000000e-04
 21    -4.6524   3.281000e-06
 22    -4.7363   2.176000e-06  ,
 'residuals':           x
 0    0.0327
 1    0.0250
 2   -0.0270
 3   -0.0356
 4    0.0106
 ..      ...
 157 -0.0067
 158  0.0276
 159  0.0085
 160  0.0321
 161  0.0424

 [162 rows x 1 columns],
 'Ljung':                    0
 0  0.485672817605527}

In [11]:
# The variable y_all shows the observed values for observed period (in_sample) 
# and projection for forecasting period (out_sample)
example_rds.forecast

      data_tidy     y_all        type
0    2010-01-01  137.5577   in_sample
1    2010-02-01  118.3808   in_sample
2    2010-03-01  120.3708   in_sample
3    2010-04-01  121.7958   in_sample
4    2010-05-01  123.1266   in_sample
..          ...       ...         ...
487  2050-08-01  268.1379  out_sample
488  2050-09-01  266.7959  out_sample
489  2050-10-01  268.7147  out_sample
490  2050-11-01  262.1602  out_sample
491  2050-12-01  290.5913  out_sample

[492 rows x 3 columns]

### By default, the first model (Model == 0) is selected, but any can be selected using the set_model() function.
### The model number can be seen in the **Model** column of the model_list()

### Attributes of the forecast class:
 - **json**: json version of the forecastpack
 - **type**: type of the selected model
 - **sample**: sample of the in_sample data from the selected model
 - **transformation**: transformation done in the selected model's data
 - **RMSE**: The root mean squared error for all windows of the cross-validation for the selected model
 - **RMSE_list**: The root mean squared errors for each window of the cross validation for the selected model
 - **MPE**: The mean percentage error for all windows of the cross-validation for the selected model
 - **MPE_list**: The mean percentage errors for each window of the cross validation for the selected model
 - **MAPE**: The mean absolute percentage error for all windows of the cross-validation for the selected model
 - **MAPE_list**: The mean absolute percentage errors for each window of the cross validation for the selected model
 - **WMAPE**: The weighted mean absolute percentage error for all windows of the cross-validation for the selected model
 - **WMAPE_list**: The weighted mean absolute percentage errors for each window of the cross validation for the selected model
 - **MASE**: The mean absolute scaled error for all windows of the cross-validation for the selected model
 - **MASE_list**: The mean absolute scaled errors for each window of the cross validation for the selected model
 - **MASEs**: The seasonal mean absolute scaled error for all windows of the cross-validation for the selected model
 - **MASEs_list**: The seasonal mean absolute scaled errors for each window of the cross validation for the selected model
 - **models**: Properties of the chosen model, based on the model type. Those being:
    - *ARIMA*: Dictionary with the coeficients of the model and its residuals
    - *RandomForest*: Dataframe with the feature importances
    - *Regression models(Lasso, Ridge and ElasticNet)*: Dictionary with best tune, model coefficients and variable importances
    - *Regression model(LM)*: Dictionary with best tune
    - *Model combination*: Empty dictionary
 - **infos**: Information regarding the chosen model, based on the model type. Those being:
    - *ARIMA*: Dictionary with the ARIMA order and, if available, the model breakdown
    - *RandomForest*: Hyperparameters of the model
    - *Regression models(Lasso, Ridge and ElasticNet, LM)*: Empty dictionary
    - *Model combination*: Dictionary with the combination method and models used in the combination
 - **data**: Dataframe containing the training data used in the selected model
 - **data_proj**: Dataframe containing the data used for forecasting
 - **forecast**: Dataframe containing the entire time series, with historical and forecasted data